// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style-type: none;
  a { color: #2d3e4f;
  }

}

h1 {
  color: #9b8f8f
}

#form-control {
  color: #d6d1d1
}
